// Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media (max-width: 991px) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: 767px) { @content; }
  }
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}